[submodule "libs/intx"]
	path = libs/intx
	url = https://github.com/chfast/intx.git
[submodule "libs/magic_enum"]
	path = libs/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "libs/range-v3"]
	path = libs/range-v3
	url = https://github.com/ericniebler/range-v3.git
